<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/login.css" rel="stylesheet">
		<script src="js/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<title>饿了么 用户登陆</title>
	</head>
	<body>
		<div class="wrapper" id="login">
			
			<!-- header部分 -->
			<header>
				<p>用户登陆</p>
			</header>
			
			<!-- 表单部分 -->
			<ul class="form-box">
				<li>
					<div class="title">
						手机号码：
					</div>
					<div class="content">
						<input type="text" placeholder="手机号码" v-model="user.userId">
					</div>
				</li>
				<li>
					<div class="title">
						密码：
					</div>
					<div class="content">
						<input type="password" placeholder="密码" v-model="user.password">
					</div>
				</li>
			</ul>
			
			<div class="button-login">
				<button @click="login()">登陆</button>
			</div>
			<div class="button-register">
				<button onclick="location.href='register.html'">去注册</button>
			</div>
			
			<!-- 底部菜单部分 -->
			<ul class="footer">
				<li onclick="location.href='index.html'">
					<i class="fa fa-home"></i>
					<p>首页</p>
				</li>
				<li>
					<i class="fa fa-compass"></i>
					<p>发现</p>
				</li>
				<li onclick="location.href='orderList.html'">
					<i class="fa fa-file-text-o"></i>
					<p>订单</p>
				</li>
				<li>
					<i class="fa fa-user-o"></i>
					<p>我的</p>
				</li>
			</ul>
		</div>	
	</body>
</html>

<script>
var login = new Vue(
		{
			el: '#login',
			data: {
				user: {
					userId: '',
					password: ''
				}
			},
			methods:{
				login(){
					axios.post('http://localhost:8081/login' , login.user)
							  .then(function (response) {
									if(response.data != ''){
										sessionStorage.setItem("userId" , login.user.userId);
										window.location.href = 'index.html';
									}
									else{
										alert('用户名或密码输入错误！');
									}
							  })
							  .catch(function (error) {
								console.log(error);
							  });
					
				}
			}
		}
	);
</script>

